{
    "database-host": "localhost:5432",
    "database-name": "db-name",
    "database-username": "uname",
    "database-password": "secret",

    "twitter-consumer-key": "cons-key",
    "twitter-consumer-secret": "cons-secret",
    "twitter-redirect-url" : "http://localhost:8080/callback/twitter"
}